<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greetings Project</title>
    <link rel="stylesheet" href="/css/greet.css">

</head>

<body>
    <div class="container">
        <div class="heading">
            <h1>G R E E T I N G S</h1>
        </div>
        <form action="/greetings" method="POST">
            <div class="warning">{{messages.info}}<span class="warningMessage"></span></div>
            <div class="reset">{{messages.reset}}<span class="reset"></span></div>
          
            <div class="message">
                <strong><span class="myGreetings">{{messages.greetingsMessage}}</span></strong>
            </div>
            <div class="textBox">
                <input type="text" name="user" value="{{user}}" placeholder="please enter a name" class="nameTextBox"
                    size="40">
                <span class="counter">{{getCounter}}</span>
            </div>

            <div class="radioButtons">
                <label>
                    <input type="radio" name="language" class="languageRadioName" value="english">
                    <span class="languages">English</span>
                </label>
                <label>
                    <input type="radio" name="language" class="languageRadioName" value="sepedi">
                    <span class="languages">Sepedi</span>
                </label>
                <label>
                    <input type="radio" name="language" class="languageRadioName" value="zulu">
                    <span class="languages">Isizulu</span>
                </label>

            </div>
            <div class="clickButtons">
                <button class="greetNameBtn" type="submit" name="button">Greet Me</button>
        </form>
        <form action="/reset" method="POST"><button class="resetButton" type="submit" name="button">Reset
                counter</button></form>
        <form action="/greeted" method="get">

            <button type="submit"> Greeted People </button>
        </form>



    </div>
    </div>


</body>

<script src="/client.js"></script>
</html>